.texto {
  margin-top: 20px;
  background-color: #dad7cd;
  margin-right: 450px;
  border-radius: 20px;
  margin-left: 20px;
  padding: 15px;
  }

  #redondo {
      border-radius: 50%;
      margin-left: auto;
      display: block;
      width: 200px;
      height: 200px;
      margin-right: 200px;
      margin-top: 20px;

  }
  .tittle {
      margin-left: 20px;
      font-size: 17px;

  }
  .cuerpo {
      margin-left: 20px;
      font-size: 20px
  }

  @import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
  body{
      font-family: 'Monda', sans-serif;
      color: #444444;
      background-color: #FAFAFA;
      font-size: 16px;
  }
