<img id="redondo"
src="https://img.freepik.com/vector-gratis/dos-hombres-abrazados-ilustracion-plana-pareja-gay-personas-lgbt_94753-3016.jpg"
align="right" style="text-align: middle;">
<div class="texto">
<p class="tittle">Todo comenzo una noche de navidad, alla por el 2020, cuando yo y mi pareja decidimos hacer
algo para pasar el mal momento que viviamos economicamente. En ese momento nacio nuesto emprendimiento,
dando pie a lo que sigue</p> <br>
<p class="cuerpo">Somos MeyTech, una empresa que nacio con dos emprendedores que no tenian ni tiempo, ni
trabajo, por lo que
decidieron emprender. <br> Nos caracterizamos por ser la mas rapida en el rubro y por nuestros precios los
cuales son realmente bajos y con una calidad acorde! Esperamos que puedan sentir la misma pasion con la
tecnologia, tanto como nosotros! nos gusta traer cosas inovadoras todo el tiempo!</p>
