<div class="container">
<div id="formstyle">
  <form class="row g-3">
      <div class="col-md-6">
          <label for="inputEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">

      </div>
      <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="inputPassword4">
      </div>
      <div class="col-6">
          <label for="inputAddress" class="form-label">Calle</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Chula vista">
      </div>
      <div class="col-6">
          <label for="inputAddress2" class="form-label">Numero</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder=" 2030, 1502">
      </div>
      <div class="col-md-6">
          <label for="inputCity" class="form-label">Ciudad</label>
          <input type="text" class="form-control" id="inputciudad" placeholder="General Roca">
      </div>
      <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select">
              <option selected>Elija una opcion</option>
              <option>Consumidor final</option>
              <option>Mayorista</option>
          </select>
      </div>
      <div class="col-md-2">
          <label for="inputZip" class="form-label">Codigo Postal</label>
          <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-12">
          <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">

              </label>
          </div>
      </div>
      <div class="col-12">
          <button type="submit" class="btn btn-primary">Registrarme</button>
      </div>
  </form>
</div>
</div>
